.navbar-default {
  .navbar-nav {
    > li > a {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      font-family: 'Open Sans Condensed', sans-serif;

    }
    .caret{
      .fa();
      &:before{
	content: @fa-var-chevron-right;
      }
      /* display: inline-block; */
      width: auto;
      height: auto;
      border: 0;
      margin:0;
      vertical-align: baseline;
      color: #a6a6a6;
      font-size: 0.7em;
      margin-top: -0.4em;
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
      transition: transform 0.3s ease;

    }
    .open .caret{
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  .navbar-toggle .icon-bar {
    background-color: #555555;
  }

}

.navbar-brand.crepan-brand{
  padding: 0;
  img{
    height: 65px;
    margin: -12px 0 -8px 0;
  }
}

.navbar.navbar-compact{
  margin: 0;
  background-color: #d4d4d4;
  min-height: 0;

  .navbar-nav {
    > li {
      float: left;
      > a {
	padding: 2px 5px;
      }
      &.social-link{
	font-size: 1.5em;
      }
    }
  }


  .top-header-nav,
  .bottom-footer-nav{
    font-size: 0.9em;
    float: right;
    margin: 0;
    padding: 0;

    &,a{
      color: #7c7c7c;
    }
  }

  .navbar-text{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 25px;
  }

}

.top-header-text{
  margin: 0 10px 0 0;
  line-height: 25px;
  text-align: center;
}


.navbar-right-logo{
  float: right;
  margin-top: -12px;
  margin-bottom: -13px;
  margin-right: -10px;
  img{
    height: 70px;
  }
}