.panel-crepan {
  .panel-variant(transparent; #ffffff; #4d4d4b; #4d4d4b);

    & > .panel-heading {
      font-family: 'Open Sans Condensed', sans-serif;      
      text-transform: uppercase;
      font-weight: bold;
      font-size: 19px;
    }
    .list-group-item{
      border-color: #ffffff;
      background-color: #d7d7d7;
      text-transform: uppercase;
      font-weight: bold;
      color: #4d4d4b;
    }
}
